body .pos-customer_facing_display .pos-payment_info {
  max-width: 70%;
  }
  
body .pos-customer_facing_display .pos-customer_products,
body .pos-customer_facing_display .pos-payment_info {
  max-width: 30%;
  }